<section class="mid">
	<hgroup>
		<h2>Szolgáltatásaink</h2>
		<h3>Ebben tudunk segíteni</h3>
	</hgroup>
</section>

	<div id="weboldal" class="service">
		<div class="mid">
			<h4>Weboldal készítés</h4>
				<div class="text">
						<p>A Pixelephant műhelyében készült weboldalak <em>valódi kézműves termékek</em>. A kezünk alól kikerülő weboldalakat teljesen egyedileg, házon belül készítjük el, nem használunk sablonokat és mindig személyre szabott megoldásokat nyújtunk. Minden oldalt egy kicsit a sajátunknak érzünk és minden ügyfelünk üzleti problémája a mi problémánk is.</p>
						<p>Hisszük, hogy egy <strong>jól megtervezett és kivitelezett weboldal</strong> valóban képes értéket teremteni. Rajongunk a webért. <em>Tényleg.</em></p>
						<p>Jól definiált <a class="link" href="/workflow">munkafolyamatunk</a> biztosítja, hogy a fejlesztés végig átlátható és szervezettt maradjon. A pontos és alapos tervezés megakadályozza, hogy a kreatív fázisokban az üzelti célok elhomályosuljanak.</p>	


						<p>Valljuk, hogy a design nem puszta pixeltologatás, hanem egy kommunikációs eszköz, amivel a márkák a fogyasztókhoz szólnak. Designereink palettája széles:   a minimialista letisztultásgtól egészen a részletgazdag grafikákig terjed. Arról, hogy a lenyűgöző tervek életre is kelljenek, a <strong>szabványos és felhasználóbarát</strong> oldalakhoz megszállottan ragaszkodó fejlesztőnk gondoskodik.

						<p>Weboldalaink mindig a legfrisebb technológiákkal készülnek, követjük a trendeket, de nem hódolunk be minden röpke divatirányzatnak; minden weboldalunk alapját a változatlan értekek, a letisztultság és a felhasználó-barátság adja. Szemléletünk Dieter Rams <a class="link open" href="#dieter">klasszikus 10 pontján &darr;</a> alapszik.</p>

						<div id="dieter">
							<h5>A jó design</h5>
							<div class="clearfix">
							<ul>
								<li>innovatív</li>
								<li>hasznos</li>
								<li>esztétikus</li>
								<li>érthető</li>
								<li>diszkrét</li>
								<li>őszinte</li>
								<li>időtálló</li>
								<li>nem esetleges</li>
								<li>környezetbarát</li>
								<li>minél kevesebb</li>
							</ul>
							<%= link_to image_tag('rams.png'),"http://en.wikipedia.org/wiki/Dieter_Rams" %>
							</div>
						</div>
				</div>

			<%= image_tag "weboldalkeszites.png", :class => "img" %>	
			<div class="clearfix">
				<div class="extra" id="approach">
					<h5> <img src="/assets/extra_approach.png" alt="Szemléletünk"> Szemléletünk</h5>
					<p>A web mára egy multi-platform médiummá vált. Annak érdekében, hogy a felhasználók eszközeiktől függetlenül nagyszerű élményekben részesüljenek mobil fókuszú reszponzív weboldal készítést alkalmazunk. <a class="link" href="/method">Szemléletünkről bővebben.</a></p>
				</div>
				<div class="extra" id="strategy">
					<h5><img src="/assets/extra_strategy.png" alt="Tartalmi stratégia"> Tartalmi stratégia</h5>
					<p>Hisszük, hogy a tartalom nélküli design csak dekoráció. A szöveges anyagok előállítását tartalmi audittal és a kommunikációs irányelveknek megfelelően webes tartalami stratégiával segítjük. Így, miután a weboldal kilépett a világot jelentő deszkákra, a megalkott stratégia és útmutató segítségével a kommunikáció konzisztens. A tartalmak frissentartásáról az egyedileg készített adminisztrációs felületeink gondoskodnak.</p>
				</div>
			</div>
			<div class="clearfix">
				<div class="extra" id="userxp">
					<h5><img src="/assets/extra_userxp.png" alt="Felhasználói élmény"> Felhasználói élmény</h5>
					<p>Egy üzenet akkor éri el igazán célját, ha képes érzelmeket kiváltani. A Pixelephant ezért nagy figylemet fordít a felejthetelen felhasználói élmény megalkotására, így biztosítva, hogy a boldog látogatóból boldog vásárló legyen, aki örömmel osztja meg élményeit.</p>
				</div>
				<div class="extra" id="standards">
					<h5><img src="/assets/extra_standard.png" alt="Szabványok"> Szabványok</h5>
					<p>Fontosnak tartjuk, hogy weboldalaink szabványokon alapuljanak. Ennek és <a href="/method" class="link">szemléltünknek</a> köszönhetően oldalaink a lehető legtöbb eszközön élvezhetőek, időtállóak és megfelelő alapokkal rendelkeznek a <a href="#webmark" class="link">keresőoptimalizáláshoz.</a></p>
				</div>
			</div>
			<h5>Ebben tudunk segíteni</h5>
			<ul>
				<li>weboldal készítés</li>
				<li>weboldal ráncfelvarrás</li>
				<li>interakció design</li>
				<li>user interface design</li>
				<li>user experience design</li>
				<li>information architecture</li>
				<li>kliens és szerver oldali fejlesztések</li>
				<li>tartalmi stratégia</li>
				<li>online üzleti stratégia</li>
				<li>grafikai tervezés</li>
				<li>responsive design és fejlesztés</li>
				<li>mobil fejlesztés</li>
				<li>domain és tárhely ügyintézés</li>
				<li>weboldal karbantartás</li>
			</ul>
		</div>
	</div>
	<%= render 'common/mobile' %>
	<div id="webalk" class="service">
		<div class="mid">
			<h4>Webalkalmazások</h4>
				<div class="text">
					<p>Rajongunk a kihívásokért. Egy jól működő webáruház készítését, egy ügyviteli rendszer fejlesztését vagy egy üzleti folyamat optimalizálását mi igazi kihívásnak tekintjük, ezért mindig teljes profizmussal vágunk neki. Imádjuk, ha a weboldak készítésében szerzett tapasztalatainkat valamilyen komplex rendszer kialakításában kamatoztathatjuk. </p>

					<p>A web mára elég kiforrottá vált ahhoz, hogy szinte bármilyen alkalmazásnak helyet adjon, elég, ha csak a népszerű 	közösségi oldalakra, online levelező és projektmenedzsment alkalmazásokra gondolunk. A webes játékok és interaktív alkalmazások szinte elengedhetetlen részét képezik egy sikeres marketing kampánynak.</p>
				</div>
				<%= image_tag "webapp.png", :class => "img" %>

			<div class="clearfix">
				<div class="extra" id="webshop">
					<h5><img src="/assets/extra_webshop.png" alt="Webáruház fejlesztés"> Webáruház fejlesztés</h5>
					<p>A mobil eszközök terjedése okozta piacbővülés és a vásárlói szokások átalakulása az elektronikus kereskedelmet is átalakította, de erre mégsem szentelnek kellő figyelmet a webáruházak üzemeltetői. Az általunk létrehozott webáruházak nem csak ergonomikusak, de bármilyen eszközről kényelmes vásárlást biztosítanak. Webmarketing szolgáltatásunkkal kiegészítve pedig teljes webáruház-menedzsmentet kínálunk.</p>
				</div>

				<div class="extra" id="agility">
					<h5><img src="/assets/extra_agility.png" alt="Agilitás"> Agilitás</h5>
					<p>Ígérjük, hogy nem fogjuk idéjét és pénzét felesleges meetingekre pazarolni. Minden fejlesztést megfelelő flexibilitással és agilitással kezelünk, hogy a változó igényeknek megfelejünk. Azáltal, hogy minél hamarabb egy működő verziót publikálunk, lehetőséget teremtünk arra, hogy mielőbb valós felhasználói visszajelzések alapján fejlesszthessük tovább az alkalmazást.</p>
				</div>
			</div>

			<div class="clearfix">
				<div class="extra" id="tech">
					<h5><img src="/assets/extra_tech.png" alt="Technológiák"> Technológiák</h5>
					<p>Az idők folyamán kialakult eszköztárunk a problémák megoldásához. Kliensoldali kedvencünk a jQuery könyvtár, amivel a legösszetettebb feladatokat is egyszerűen és jól struktúráltan valósítjuk meg. A működés hátterét feladattól függően a PHP vagy a Ruby On Rails nyelvek valamelyikén oldajuk meg.</p>
				</div>

				<div class="extra" id="unique">
					<h5><img src="/assets/extra_unique.png" alt="Egyedi fejlesztés"> Egyedi fejlesztés</h5>
					<p>Rajongunk ügyfeleinkért, ezért készek vagyunk arra, hogy munkafolyamataikat tényleges körülmények között felmérjük, és az ebből leszűrt tapasztalatok alapján dolgozzunk.</p>
				</div>
			</div>

			<h5>Ebben tudunk segíteni</h5>
			<ul>
				<li>Webáruház fejlesztése</li>
				<li>Asztali rendszer webesítése</li>
				<li>Egyedi webalkalmazás fejlesztés</li>
				<li>Munkafolyamat optimalizálás</li>
				<li>Tanácsadás</li>
			</ul>

		</div>
	</div>
	<%= render 'common/idea' %>

	<div id="webmark" class="service">
		<div class="mid">
			<h4>Webmarketing</h4>
				<div class="text">
					<p>Mi a Pixelephantnál jól tudjuk, hogy egy weboldal igazi értékét a befektetés megtérülése adja. Megtervezzük a legmegfelelőbb online marketing stratégiát vállalata számára; optimálisan elosztjuk mind az emberi, mind az anyagi erőforrásait, hogy az online jelenléte ne csak pénzt nyeljen, hanem termeljen is. Sőt, a puszta elméleti tervezésen túl be is indítjuk a gépezetet.</p>
					<p>Kreatív csapatunk készen áll a hirdetések megtervezésére, legyen szó Facebook vagy Google kampányról; vállaljuk a közösségi média minden válfajának menedzselését, klasszikus SEO és PPC kampányok megvalósítását, bannerek és kreatív szövegek írását. Egyedi teljesítmény-alapú SEO megoldásunkkal biztos lehet abban, hogy csak az elért eredményekért kell minket jutalmaznia. De készüljön fel, nem szoktunk lazsálni!</p>
				</div>
				<%= image_tag "webmarketing.png", :class => "img" %>
			
			<div class="clearfix">
				<div class="extra" id="webmarketing">
					<h5><img src="/assets/extra_webmarketing.png" alt="Webmarketing">Mik ezek a varázsszavak SEO,PPC,SMM LOL, LSHMSFOAIDMB</h5>
					<p>A keresőoptimalizálás (SEO) során célunk, hogy a keresőmotorok (pl. Google) a weboldalt értékes tartalomként tartsák számon és magas pozícióban jelenítsék meg a nem fizetős találatok között. Jól célzott fizetett hirdetésekkel kattintásonként (PPC) alacsony összeggel tudunk gyorsan látogatókat juttatni egy oldalra, akár időszakos kampány, akár egy újonnan induló oldal esetén. A fizetett hirdetések hatalmas előnye, hogy eredményük azonnali.</p>
				</div>

				<div class="extra" id="consult">
					<h5><img src="/assets/extra_consult.png" alt="Konzultáció és analízis">Konzultáció és analízis</h5>
					<p>Nem megfelelően teljesít weboldala? Úgy érzi, hogy teljesen feleslegesen köti le erőforrásait webáruházának felügyelete? A Pixelephant segít feltárni és megoldást nyújtani ezekre a problémákra. Szeretjük, ha a megoldásokat közös munka szüli, így munkák során folyamatos konzultációs lehetőségeket és közös brainstormingot nyújtunk.</p>
				</div>
			</div>

			<h5>Ebben tudunk segíteni</h5>
			<ul>
				<li>Organikus keresőoptimalizálás</li>
				<li>Fizetett internetes hirdetések</li>
				<li>Social media kampány</li>
				<li>Tervezés</li>
				<li>Kivitelezés</li>
				<li>Folyamatos nyomonkövetés</li>
			</ul>

		</div>		
	</div>
	<%= render 'common/marketing2' %>
	<div id="arculat" class="service">
		<div class="mid">
			<h4>Arculattervezés</h4>
				<div class="text">
					<p>Hisszük, hogy a cég arculata, a brand, egy emocionális és pszichilógia kapocs a fogyasztóval, valamint minden marketing tevékenység alapja.</p>
					<p>Teljes arculatok kialakításában is segítséget tudunk nyújtani, a névjegykártyáktól kezdve egészen az óriásplakátokig. A Pixelephant olyan logót és arculati elemeket alkot, amelyek nemcsak lenyűgözőek, de kommunikálnak is. Legyen szó ráncfelvarrásról, vagy egy vadonatúj márka létrehozásáról, csapatunk mindig készenlétben áll.</p>	
				</div>
			<div class="clearfix">
				<div class="extra" id="logop">
					<h5><img src="/assets/extra_logo.png" alt="A logó ereje"> A logó ereje</h5>
					<p>Logó ≠ brand. A logó a brand alapvető reprezentációja; egyfajta belépési pontot jelent az emberek fejében kialakult brandhez. Egy brand tehát nem valamilyen konkrét produktum, hanem gondolatok, érzések és érzelmek összessége, amely összeköti a fogyasztót a vállalattal. Szerintünk a jó logó nemcsak vizuálisan tetszetős,  hanem könnyen megjegyezhető és időtálló; a cég üzenetét és történetét hordozza.</p>
				</div>

				<div class="extra" id="corporate">
					<h5><img src="/assets/extra_corporate.png" alt="Vállalati arculat"> Vállalati arculat</h5>
					<p>A márkának konzisztensnek kell lennie médiumtól függetlenül, így a logó mellé megtervezünk minden olyan platformot, ahol az arculat megjelenhet. Ez tipikusan névjegykártyákat, levélpapírt, matricákat, reklámtáblakat, szóróanyagokat jelent, de minden egyéb ötletre készek vagyunk ráereszteni a kreatív gépezetünket. Ráadásul egy (l)arculati kézikönyvben mindezt össze is foglaljuk, hogy az idő vasfoga ne tépázza meg a lefektett elveket. </p>
				</div>
			</div>

			<h5>Ebben tudunk segíteni</h5>
			<ul>
				<li>Logótervezés</li>
				<li>Kis- és nagyarculat készítése</li>
				<li>Matricák tervezése</li>
				<li>Névjegykártya készítés</li>
				<li>Szóróanyagok</li>
				<li>Reklámtáblák</li>
				<li>Arculati kézikönyv készítés</li>
			</ul>

		</div>
	</div>

<%= render 'common/app' %>