<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Üzenet a weboldalról</h1>
    <p>
      Név: <%= @name %><br/>
      Email: <%= @email %><br/>
      Telefon: <%= @phone %><br/>
      Budget: <%= @budget %><br/>
      Üzenet: <%= @brief %> <br/>
      <br>
      Env: <%= @env %>
      <br>
      Referer: <%= @additional.env['HTTP_REFERER'] %>
    </p>
  </body>
</html>