

<section class="mid" id="portfolio">
	<hgroup>
		<h2>Portfólió</h2>
		<h3>Válogatott munkáink</h3>
	</hgroup>
	<div class="clearfix">
		<a href="/portfolio/show" class="p-el study">
			<div class="img">
				<%= image_tag "portfolio/utransfer/project.png", :alt => "Arculattervezés - Flairpsring" %>
			</div>
			<div class="title">
				<img src="/assets/icon_webo.png" alt="Weboldal készítés">
				<h4>Flairspring</h4>
				<p>Arculattervezés a Flairspring lakberendezési boltnak </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<%= image_tag "portfolio/flairspring/project.jpg", :alt => "Weboldalkészítés - uTransfer" %>
			</div>
			<div class="title">
				<img src="/assets/icon_webm.png" alt="Webmarketing" />
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<%= image_tag "portfolio/ew/project.png", :alt => "Weboldal készítés - uTransfer" %>
			</div>
			<div class="title">
				<img src="/assets/icon_weba.png" alt="Webalkalmazások">
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
	</div>
</section>

<section class="mid" id="services">
	<hgroup>
		<h2>Szolgáltatások</h2>
		<h3>Ebben tudunk segíteni</h3>
	</hgroup>
	<div class="clearfix">
		<div class="s-el" id="webdesign">
			<h4>Weboldal készítés</h4>
			<p>A Pixelephant műhelyében készült weboldalak <em>valódi kézműves termékek</em>. Hisszük, hogy egy <strong>jól megtervezett és kivitelezett weboldal</strong> valóban képes értéket teremteni. Rajongunk a webért. Tényleg.</p>
		</div>
		<div class="s-el" id="webapps">
			<h4>Webalkalmazások</h4>
			<p>Imádjuk, ha a weboldak készítésében szerzett tapasztalatainkat valamilyen komplex rendszer kialakításában kamatoztathatjuk. Legyen szó weberáhuzról, ügyviteli rendszerről vagy bármi másról.</p>
		</div>
		<div class="s-el" id="webmarketing">
			<h4>Webmarketing</h4>
			<p>Megtervezzük a legmegfelelőbb online marketing stratégiát vállalata számára; optimálisan elosztjuk mind az emberi, mind az anyagi erőforrásait, hogy az online jelenléte ne csak pénzt nyeljen, hanem termeljen is. Sőt, a puszta elméleti tervezésen túl be is indítjuk a gépezetet.</p>
		</div>
		<div class="s-el" id="corp">
			<h4>Arculattervezés</h4>
			<p>A Pixelephant olyan logót és arculati elemeket alkot, amelyek nemcsak lenyűgözőek, de kommunikálnak is. Legyen szó ráncfelvarrásról, vagy egy vadonatúj márka létrehozásáról, csapatunk mindig készenlétben áll.</p>
		</div>
	</div>
	<p class="cta">
		<a class="bluepill" href="/szolgaltatasok">Bővebben</a>
	</p>
</section>

<%= render 'common/team' %>

<section class="mid" id="method">
	<hgroup>
		<h2>Szemlélet</h2>
		<h3>Mobil fókuszú reszponzív weboldalkészítés</h3>
	</hgroup>
	<div class="clearfix">
		<p>Mobil központú szemléletünk az alapoktól meghatározza <a class="link" href="/method">munkafolyamatunkat</a>. A cél, hogy mindenki számára élmény legyen weboldalainkat böngészni vagy vásárolni rajtuk. Mindegy, hogy egér vagy érintőképernyő, telefon vagy tablet, mi mindig a maximális felhasználói élményt célozzuk meg.</p>
	</div>
</section>

<section class="mid" id="work">
	<hgroup>
		<h2>Munkafolyamat</h2>
		<h3>Egy projekt élete</h3>
	</hgroup>
	<div class="clearfix">
		<figure>
				<%= image_tag 'research_white.png' %>
				<%= image_tag 'research_green.png', :id => "research-green", :class => "animated" %>
				<%= image_tag 'research_orange.png', :id => "research-orange", :class => "animated" %>
				<%= image_tag 'research_red.png', :id => "research-red", :class => "animated" %>
				<%= image_tag 'research_yellow.png', :id => "research-yellow", :class => "animated" %>
		</figure>
		<p class="text">
			Megfelelő projektmenedzsment nélkül a legnagyszerűbb ötletekből sem lesznek nagyszerű végeredmények. Jól definiált munkafolyamatunk biztosítja, hogy bármilyen fejlesztés végig átlátható és szervezettt maradjon, a kreatív fázisokban se homályosuljanak el az üzleti célok. <a href="/munkafolyamat" class="link">Kövesse végig egy Pixelephant projekt életét!</a>
		</p>
	</div>
	<p class="cta">
			<a class="bluepill" href="/munkafolyamat">Bővebben</a>
		</p>
</section>


<section class="mid" id="about">
	<hgroup>
		<h2>Rólunk</h2>
		<h3>A Pixelephant csapata</h3>
	</hgroup>
	<div class="clearfix">
		<p>Mind különbözőek vagyunk, de közös bennünk, hogy rajongunk a pixelekért és a kihívásokért. <a class="link" href="/rolunk">Ismerjen meg minket!</a>
		</p>
	</div>
</section>

<%= render 'common/mobile' %>

