<section class="mid">
	<hgroup>
		<h2>Traveltrix</h2>
		<h3>Arculattervezés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<%= image_tag "portfolio/traveltrix/project.png", :alt => "Arculattervezés - Traveltrix" %>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Tenderfigyelő</p>
				<ul>
					<li>Webalkalmazás fejlesztés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/traveltrix/envelopes.png" %>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/traveltrix/cards.png" %>
		</figure>
		<h3>Névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/tender/admin.png" %>
		</figure>
		<h3>Trifold névjegykártya</h3>
	</div>
</section>

<%= render 'common/like' %>