<section class="mid">
	<hgroup>
		<h2>Flairpsring</h2>
		<h3>Arculat kialakítása a Flairspring lakberendezésnek</h3>
		<nav id="portfolio-nav">
			<a href="#" class="control left"><span class="link">uTransfer</span></a>
			<a href="#" class="control grid"><span class="link">Összes</span></a>
			<a href="#" class="control right"><span class="link">Flairspring</span></a>
		</nav>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<%= image_tag "portfolio/flairspring/project.jpg", :alt => "Arculattervezés - Flairpsring" %>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Flairpsring</p>
				<ul>
					<li>Arculattervezés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/logo.png" %>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/logo2.png" %>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/logo3.png" %>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/colors.png" %>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/type.png" %>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/card.png" %>
		</figure>
		<h3>Névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/trifold.png" %>
		</figure>
		<h3>Trifold névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<%= image_tag "portfolio/flairspring/store.png" %>
		</figure>
		<h3>Boltfelirat</h3>
	</div>
</section>

<%= render 'common/like' %>