<section class="mid">
	<hgroup>
		<h2>East-West</h2>
		<h3>Weboldal fejlesztés az East-West Utazási és Sport Irodának</h3>
		<nav id="portfolio-nav">
			<span class="control left">Előző</span>
			<span class="control grid">Összes</span>
			<span class="control right">Következő</span>
		</nav>
	</hgroup>
	<div id="text">
		<div>
			<h4>Projektleírás</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div>
			<h4>Megrendelő</h4>
			<p>East-West Utazási és Sport Irdo</p>
			<p><a class="link" href="#">www.ew.hu</a></p>
			<p><a class="link" href="#">www.ew.hu</a></p>
			<p><a class="link" href="#">www.ew.hu</a></p>
		</div>
		<div>
			<h4>Szolglátatások</h4>
			<ul>
				<li>Weboldalkészítés</li>
				<li>Webmarketing</li>
				<li>Arculat facelift</li>
			</ul>
		</div>
	</div>
	<div class="portfolio-el">
		<h3>Logó facelift</h3>
		<figure>
			<%= image_tag "fill.png" %>
		</figure>
	</div>
	<div class="portfolio-el">
		<h3>Logó facelift</h3>
		<figure>
			<%= image_tag "fill.png" %>
		</figure>
	</div>
	<div class="portfolio-el">
		<h3>Logó facelift</h3>
		<figure>
			<%= image_tag "fill.png" %>
		</figure>
	</div>
	<div class="portfolio-el">
		<h3>Logó facelift</h3>
		<figure>
			<%= image_tag "fill.png" %>
		</figure>
	</div>
</section>

<%= render 'common/contact' %>