<ul>
	<li>
		<%= link_to services_url do %>
				<span aria-hidden="true">&#x25cf;</span> Szolgáltatások <span aria-hidden="true">&#x25cf;</span>
		<% end %>
	</li>
	<li>
		<%= link_to method_url do %>
			<span aria-hidden="true">&#x25cf;</span> Szemlélet <span aria-hidden="true">&#x25cf;</span>
		<% end %>
	</li>
	<li>
		<%= link_to portfolio_url do %>
			<span aria-hidden="true">&#x25cf;</span> Portfólió <span aria-hidden="true">&#x25cf;</span></a>
		<% end %>
	</li>
	<li>
		<%= link_to workflow_url do %>
			<span aria-hidden="true">&#x25cf;</span> Munkafolyamat <span aria-hidden="true">&#x25cf;</span>
		<% end %>
	</li>
	<li>
		<%= link_to about_url do %>
			<span aria-hidden="true">&#x25cf;</span> Rólunk <span aria-hidden="true">&#x25cf;</span></a>
		<% end %>
	</li>
	<li class="quote-button"><a href="#"><span aria-hidden="true">&#x25cf;</span> Kapcsolat <span aria-hidden="true">&#x25cf;</span></a> </li>
</ul>