<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title><%= @title %> - Pixelephant Media Kft</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application", controller_name %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="description" content="<%= @meta_desc %>"/>
  <style type="text/css">
  	/* Bocsi Zeldman */
  	@media (min-width: 768px) and (max-width: 1399px), (min-width: 1400px){
  		#main-nav{
  			margin-top:0 !important;
  			opacity:1 !important;
  		}
  	}
  </style>
  <%= javascript_include_tag "modernizr" %>
</head>
<body class="container">
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<section id="thank-you">
	<h3>Köszönjük!</h3>
	<p>Hamarosan jelentkezünk!</p>
</section>

<section id="contact">
		<div id="contact-options">
			<p>
		<a href="mailto:pixelephant@pixelephant.hu">pixelephant@pixelephant.hu | </a> 
		<a href="http://goo.gl/maps/WH53">1107 Budapest, Árpa u. 8 | </a>
		<a href="tel:+36204944631">+36-20-4944-631</a>
			</p>
			<div id="contact-options-inner" class="clearfix">
				<a class="active" href="#quote-form">
					Árajánlatkérés
					<span>„Segítségre lenne szükségem”</span>
				</a>
				<a href="#contact-form">
					Kapcsolat
					<span>„Csak írnék pár kedves sort”</span>
				</a>
			</div>
		</div>
		<div id="form-wrap">
			<form action="/" id="quote-form">
				<div class="row">
					<fieldset>
						<label for="quote-name">Név <span class="ast">*</span></label>
						<input type="text" name="quote-name" id="quote-name" required />
					</fieldset>
					<fieldset>
						<label for="quote-email">Email cím <span class="ast">*</span></label>
						<input type="email" name="quote-email" id="quote-email" required />
					</fieldset>
				</div>
				<div class="row">
					<fieldset>
						<label for="quote-phone">Telefonszám</label>
						<input type="tel" name="quote-phone" id="quote-phone" />
					</fieldset>
					<fieldset>
						<label for="quote-budget">Büdzsé</label>
						<select name="quote-budget" id="quote-budget">
							<option value="250000">250 000 Ft alatt</option>
							<option value="250500">250 000 Ft - 500 000 Ft</option>
							<option value="5001000">500 000 Ft - 1 000 000 Ft</option>
							<option value="10002000">1000 000 Ft - 2 000 000 Ft</option>
							<option value="2000">2 000 000 Ft fölött</option>
							<option value="0">Nem tudom</option>
						</select>
					</fieldset>
				</div>
				<div class="row full">
					<label for="quote-brief">Projekt leírás <span class="ast">*</span></label>
					<textarea name="quote-brief" id="quote-brief" cols="30" rows="10" required></textarea>
				</div>
				<div class="row full">
					<input type="submit" value="Küldés">
					<a class="close" href="#">&times;</a>
				</div>
			</form>
			<form action="/" id="contact-form">
				<div class="row">
					<fieldset>
						<label for="contact-name">Név <span class="ast">*</span></label>
						<input type="text" name="contact-name" id="contact-name" required />
					</fieldset>
					<fieldset>
						<label for="contact-email">Email cím <span class="ast">*</span></label>
						<input type="email" name="contact-email" id="contact-email" required />
					</fieldset>
				</div>
				<div class="row">
					<fieldset>
						<label for="contact-phone">Telefonszám</label>
						<input type="tel" name="contact-phone" id="contact-phone" />
					</fieldset>
				</div>
				<div class="row full">
					<label for="contact-brief">Üzenet <span class="ast">*</span></label>
					<textarea name="contact-brief" id="contact-brief" cols="30" rows="10" required></textarea>
				</div>
				<div class="row full">
					<input type="submit" value="Küldés">
					<a class="close" href="#">&times;</a>
				</div>
			</form>
	</div>
</section>

<header>
		<div id="header-inner">
			<figure id="logo">
				<a href="/">
					<img src="/assets/logo.png" alt="Pixelephant Media logó" />
				</a>
			</figure>
			<% if params[:controller] == 'home'%>
				<div id="welcome">
					<h2>Rajongunk a</h2>
					<h3><div class="rw-words rw-words-1">
							<span class="w"><span aria-hidden="true">&bull;</span>pixelekért<span aria-hidden="true">&bull;</span></span>
							<span class="w"><span aria-hidden="true">&bull;</span>webért<span aria-hidden="true">&bull;</span></span>
							<span class="w"><span aria-hidden="true">&bull;</span>marketingért<span aria-hidden="true">&bull;</span></span>
							<span class="w"><span aria-hidden="true">&bull;</span>brandekért<span aria-hidden="true">&bull;</span></span>
							
							<span class="w"><span aria-hidden="true">&bull;</span>mobilokért<span aria-hidden="true">&bull;</span></span>
							<span class="w"><span aria-hidden="true">&bull;</span>kihívásokért<span aria-hidden="true">&bull;</span></span>
						</div></h3>
					<p>A Pixelephant Media egy <em> teljes körű online kreatív ügynökség</em>, amely pixel-alapú üzleti megoldásokat nyújt.</p>
				</div>
			<%end%>
		</div>
</header>

<nav id="mobile-nav">
	<ul>
		<li id="email"><a href="mailto:pixelephant@pixelephant.hu"><span aria-hidden="true" data-icon="&#x0065;"></span>email</a></li>
		<li id="address"><a href="http://goo.gl/maps/WH53"><span aria-hidden="true" data-icon="&#x0061;"></span>cím</a></li>
		<li id="phone"><a href="tel:+36204944631"><span aria-hidden="true" data-icon="&#x0074;"></span>+36-20-4944-631</a></li>
		<li id="mobile-menu"><a href="#"><span aria-hidden="true" data-icon="&#x006d;"></span>menü</a></li>
	</ul>
</nav>

<nav id="main-nav">
	<div id="main-nav-inner">
		<%= render 'common/nav' %>
	</div>
</nav>

<div id="main">
	
<%= yield %>

</div>


<footer id="main-footer">
	<div class="in">
		<nav>
			<%= render 'common/nav' %>		
		</nav>
	<p id="social">
		<a href="https://twitter.com/pixelephant" class="twitter-follow-button" data-show-count="false" data-lang="hu">@pixelephant követése</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpixelephant&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=136997593064327" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>
	</p>
	<p><a href="tel:+36204944631">+36-20-4944-631</a> | <a href="mailto:pixelephant@pixelephant.hu">pixelephant@pixelephant.hu</a> | <a href="http://goo.gl/maps/WH53">1107 Budapest, Árpa u. 8</a></p>
	<p>&copy; Pixelephant Media Kft. - Minden jog fenntartva.</p>
	</div>
</footer>
<%= javascript_include_tag "application", controller_name %>
<%= javascript_include_tag "retina", controller_name %>
<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
